.profile__myPosts {
	margin-left: 100px;
	margin-right: 100px;

	margin-bottom: 50px;
	background-color: aqua;
	border-radius: 20px;

	position: relative;
}

.profile__post {
	display: flex;
	flex-direction: column;
}

.postInfo {
	display: flex;
}

.postInfo__number {
	display: inline-block;
	font-size: 18px;
	color: #f74881;
	margin: 10px 0 0 10px;
}

.postInfo img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 10px;
	box-shadow: 0 0 3px gray;
}

.postInfo__name {
	color: #333;
	font-weight: 500;
	margin-top: 20px;
}

.postInfo__likes {
	margin-left: 580px;
	margin-top: 20px;
	color: #f74881;
	font-size: 18px;
}

.postText {
	margin: 10px;
	color: #333;
	font-size: 18px;
}

.profile__myPosts button {
	position: absolute;
	left: 700px;
	cursor: pointer;
	padding: 5px 15px;
	border-radius: 20px;
	border: none;
	background-color: #f74881;
	color: #fff;
	box-shadow: 0 0 3px #fff;
}