.header {
	background-color: #00b7ff;
	border-radius: 20px;
	box-shadow: 0 0 5px #487c91;

	grid-area: header;

	display: flex;
	justify-content: space-between;

	margin-bottom: 10px;
}

.header__logo {
	padding: 10px;
}

.header__logo img {
	width: 80px;
	height: 80px;
}

.header__login {
	align-self: center;
	background-color: #fff;
	border-radius: 20px;
	margin-right: 20px;
	padding: 5px 10px;
	cursor: pointer;
}

.header__login span {
	color: #f74881;
	font-weight: 600;
}

.header__login button {
	margin-right: 10px;
	background-color: #f74881;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 0 3px #9f1744;
}