.form {
	margin-left: 50px;
}

.formInput {
	margin-bottom: 10px;
}

/* .formInput input {
	height: 20px;
	border: none;
	border-radius: 20px;
	padding-left: 10px;
}

.formInput input:focus {
	outline: none;
	box-shadow: 0 0 3px #333;
} */

.formCheckbox {
	margin-bottom: 40px;
}

.formCheckbox input {
	cursor: pointer;
}

.formButton button {
	padding: 10px 30px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	background-color: #ff5e3a;
	color: #fff;
	font-size: 18px;
	box-shadow: 0 0 3px #333;
}

.formButton button:active {
	box-shadow: inset 0 0 3px #333;
}