.dialogs {
	background-color: #fab819;
	height: 100%;
	border-radius: 20px;
	box-shadow: 0 0 5px #7d5e16;

	display: flex;
}

.dialogs__friends {
	margin: 20px 100px 0px 20px;
}

.dialogs__messages {
	margin-top: 20px;
}



